# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
env/
.venv/

# Banco de dados local (ajuste se quiser versionar o seu)
# db.sqlite3

# Segredos e config local
.env
*.secret

# Logs e arquivos temporarios
*.log
tmp/

# Editores / SO
.vscode/
.idea/
.DS_Store
